@use "/home/shreyas/.cache/wal/colors.scss" as wal;

.bar-container {
    background: wal.$background;
    margin-right: 0px;

    button {
        border-radius: 8px;
        margin: 2px;
    }

    .clock {
        font-family: "Electroharmonix", Times, serif;
        font-weight: 700;
        font-size: 20px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: wal.$foreground;
    }

    .not-occupied {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .occupied {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .battery {
        font-weight: 600;
        font-size: 14px;

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .battery-icon {
        font-size: 18px;

        margin-left: 0rem;
        margin-right: 0.7rem;
        margin-bottom: 1rem;
    }
    .workspace-container {
        background: rgba(wal.$color6, 0.15);
        border-radius: 100px;
        margin-top: 5px;

        padding: 3px;
        > .workspace-button {
            background: rgba(wal.$background, 0.7);
            border-radius: 100%;
            min-height: 12px;
            min-width: 12px;
            border: 0;
            padding: 2px;
            box-shadow: unset;

            &:hover {
                background: rgba(wal.$color6, 0.15);
                &.occupied {
                    background: rgba(wal.$color6, 0.7);
                }
            }

            &.active {
                background: wal.$foreground;
            }

            &.occupied {
                &.active {
                    background: wal.$color6;
                }
            }
        }
    }
}
