/* @use "/home/shreyas/.cache/wal/colors.scss" as wal; */
@use "sass:string";
@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

.charging-box {
    border: 1px solid gtkalpha(var(--foreground), 0.3);
    background: var(--background);
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    label {
        font-family: "Electroharmonix", Times, serif;
        color: var(--color6);
        font-size: 3rem;
    }
}

.not {
    padding-left: 0.5rem;
}
