@use "./colors.scss" as wal;

.charging-box {
    border: 1px solid rgba(wal.$foreground, 0.3);
    background: wal.$background;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    label {
        font-family: "Electroharmonix", Times, serif;
        color: wal.$color6;
        font-size: 3rem;
    }
}

.not {
    padding-left: 0.5rem;
}
