@use "/home/shreyas/.cache/wal/colors.scss" as wal;

.clock-container {
    font-weight: bold;
    font-family: Electroharmonix;
    color: wal.$background;
}
.clock-time {
    font-size: 100px;
}
.clock-date {
    font-size: 25px;
}
