@use "/home/abancp/.cache/wal/colors.scss" as wal;

.low-battery-box {
    border: 4px solid rgba(#ff0000, 0.3);
    background: wal.$background;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    label {
        font-family: "Electroharmonix", Times, serif;
        color: wal.$color6;
        font-size: 3rem;
    }
}
